@using FakeWeatherApp.Models.Enums
@model FakeWeatherApp.Models.ViewModels.CurrentWeatherViewModel 

<h1>Текущая погода</h1>
<ul>
    <li>Температура: @Model.Weather.Temperature</li>
    <li>Влажность: @Model.Weather.Humidity</li>
    <li>Погода:
        @{
            switch (Model.Weather.Type)
            {
                case WeatherType.Clear:
                    <span>Чудесная погода <img class="weather-image-big" src="~/images/sunny.png" alt="Солнечно" /></span>
                    break;
                    
                case WeatherType.Cloudy:
                    <span>Облачно <img class="weather-image-big" src="~/images/cloudy.png" alt="Облачно" /></span>
                    break;
                    
                case WeatherType.Rain:
                    <span>Идёт дождь <img class="weather-image-big" src="~/images/rain.png" alt="Дождь"/></span>
                    break;
            }
        }
    </li>
</ul>
<a asp-controller="Home" asp-action="Index" title="Назад">Назад</a>