@model FakeWeatherApp.Models.ViewModels.HomeViewModel

<div>
    <h1>Погода на сегодня</h1>
    <h2>Город: @Model.CityName</h2>
</div>

<div>
    <a asp-controller="Home" asp-action="CurrentWeather" title="Узнать текущую погоду">Текущая погода</a>
    <br>
    <a asp-controller="Home" asp-action="WeekForecast" title="Прогноз на неделю">Прогноз на 7 дней</a>
</div>
