body {
  color: hsl(0, 0%, 32%);
  background-color: hsl(210, 100%, 95%);
  font-size: 1rem;
}

h1 {
  color: hsl(216, 90%, 39%);
  font-size: 2rem;
}

h2 {
  color: hsl(216, 90%, 39%);
  font-size: 1.5rem;
}

/* Weather image big */
.weather-image-big {
  width: 30px;
  height: 30px;
  border: 1px solid hsl(240, 100%, 30%);
  border-radius: 30px;
  vertical-align: middle;
}

.weather-image-small {
  width: 10px;
  height: 10px;
}

.week-forecast-column {
  padding-left: 1rem;
  padding-right: 1rem;
}